
body {
    background-image: url(https://live.staticflickr.com/65535/49456465241_4a411c38f3_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-------------------------------------buttons---------------------------------------*/

.add-nav{
    padding-left: 10px;
}

nav{
    background-color: rgba(33, 37, 77, 0.85)
}

/*.dropdownn{
    width: 113.95px;
    left: 986.925px;
    top: 40px;
    height: 285px;
    transform-origin: 0 0;
    opacity: 0.4;
    transform: scaleX(1) scaleY(1);
    margin-top: 25px;
    background-color: transparent;
}*/

#dropdown1,
#dropdown2,
#dropdown3 {
    top: 64px !important;
    opacity: 0.4 !important;
}

#dropdown1 li,
#dropdown2 li,
#dropdown3 li {
    background-color: grey !important;
    color: black !important;
}

#dropdown1 a,
#dropdown2 a,
#dropdown3 a {
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: transparent !important;
    color: white !important;
}

#dropdown2 a {
    font-size: 0.65rem;
}


.add-quote{
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 0 10;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.6)
}

.right{
    margin-left: 0 !important;
}

.btn-large{
    margin-top: 10px;
    background-color: rgba(255, 196, 0, 0.75) !important;
}


/*-------------------------------------------------------------------------------------*/

.home-description{
    background-color: rgba(77, 65, 25, 0.4);
    padding-bottom: 25px;
    color: wheat;
    font-weight: 500;
}

.main-title{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 10px;
}

.secondary-title{
    margin-left: 60%;
}

.description{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

/*.button{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}*/

.categories{
    float: left;
}

.cat, .author, .source, .cat-loop{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cat-title, .author-title, .source-title{
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}

.choosen-category{
    text-align: center;
}

/*---------------------------------------------get author-----------------------------------------*/

.get-author-container{
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}


/*---------------------------------------------------------------------------------------------------*/

footer{
    margin-top: 25px;
    height: 50px;
    width: 100%;
    background-color: black;
}

/*-------------------------------------------------mobile--------------------------------------------*/

#mobile-demo{
    height: 220px;
    width: 300px;
    margin-top: 55px;
    background-color: rgba(33, 37, 77, 0.85);
}

#mobile-demo a{
    color: whitesmoke;
    font-size: 18px;
    padding: 0 15px;
}

#mobile-demo i{
    height: 48px;
    width: 48px;
    color: white;
    padding: 0 20px;
}