{% extends 'home.html' %}

{% block content %}

<form action = '{{url_for("add_quote")}}' method="POST">
    <div class="row">
        <div class="input-field col s12">
            <select id="category_name" name="category_name">
            <option value="" disabled selected>Choose the category</option>
            {% for category in category %}
            <option value="{{category.category_name}}">{{category.category_name}}</option>
            {% endfor %}
            </select>
            <label>Quote Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="quote_text" name="quote_text" type="text" class="validate">
            <label for="icon_prefix">Quote Text</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="quote_author" name="quote_author" type="text" class="validate">
            <label for="icon_prefix">Quote Author</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select id="source_name" name="source_name">
            <option value="" disabled selected>Choose the source</option>
            {% for source in sources %}
            <option value="{{source.source_name}}">{{source.source_name}}</option>
            {% endfor %}
            </select>
            <label>Quote source</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="quote_source_name" name="quote_source_name" type="text" class="validate">
            <label for="icon_prefix">Quote Source Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select id="language" name="language">
            <option value="" disabled selected>Choose the language</option>
            {% for idiom in languages %}
            <option value="{{idiom.language}}">{{idiom.language}}</option>
            {% endfor %}
            </select>
            <label>Quote Language</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}