{% extends 'home.html' %}

{% block content %}
<div class="container-form">
    <h2 class="add-new-quote">Add new quote</h2>
    <form id="quote-form" action = '{{url_for("create_quote")}}' method="POST">
        <div class="row">
            <div class="input-field col s12">
                <select id="quote_category" name="quote_category">
                <option class="choose-cat" value="" disabled required>Click to choose the category</option>
                {% for category in category %}
                <option id="select-category" value="{{category.category_name}}" required>{{category.category_name}}</option>
                {% endfor %}
                </select>
                <label class="form-label">Quote Category (Click to choose the category)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_text" name="quote_text" type="text" class="validate form-input" required>
                <label class="form-label" for="icon_prefix">Enter the quote text</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_author" name="quote_author" type="text" class="validate form-input" required>
                <label class="form-label" for="icon_prefix">Enter the quote author</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="quote_source" name="quote_source">
                <option value="" disabled required>Click to choose the source</option>
                {% for source in sources %}
                <option value="{{source.source_name}}" required>{{source.source_name}}</option>
                {% endfor %}
                </select>
                <label class="form-label">Quote source (Click to choose the category)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_source_name" name="quote_source_name" type="text" class="validate form-input" required>
                <label class="form-label" for="icon_prefix">Enter the source name (book title, moovie title, etc)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="language_name" name="language_name">
                <option class="choose-idiom" value="" disabled required>Click to choose the language</option>
                {% for idiom in languages %}
                <option value="{{idiom.language_name}}">{{idiom.language_name}}</option>
                {% endfor %}
                </select>
                <label class="form-label">Quote Language (Click to choose the category)</label>
            </div>
        </div>
        <button id="submit" class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

{% endblock %}