{% extends 'home.html' %}

{% block content %}

    <h2 class="choosen-category">{{quote_source}}</h2>

    {% for quote in quote %}
        
        <div>
            <ul>
                <li>{{quote.quote_text}}</li>
                <li>{{quote.quote_source_name}}</li>
                <li>
                    <a href="{{url_for('modify', quote_id = quote._id)}}" class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>Modify quote</a>
                </li>
            </ul>
        </div>

    {% endfor %}

{% endblock %}