{% extends 'home.html' %}

{% block content %}

    <h2 class="choosen-category">{{source.source_name}}</h2>

    {% for quote in quote %}
    {% if source.source_name == quote.quote_source %}
        
        <div>
            <ul>
                <li>{{quote.quote_text}}</li>
                <li>{{quote.quote_source_name}}</li>
                <li>
                    <span>
                        <a href="{{url_for('modify', quote_id = quote._id)}}" class="waves-effect waves-light btn-small">
                        <i class="material-icons right">cloud</i>Modify quote
                        </a>
                    </span>
                    <span>
                        <a href="{{url_for('delete_quote', quote_id = quote._id)}}" class="waves-effect waves-light btn-small">
                        <i class="material-icons right">cloud</i>Delete quote
                        </a>
                    </span>
                </li>
            </ul>
        </div>

    {%  endif %}

    {% endfor %}

{% endblock %}