{% extends 'home.html' %}

{% block content %}
    <div class="container-source row">

    <h2 class="choosen-source">{{source.source_name}}</h2>

    {% for quote in quotes %}
    {% if quote.quote_source == source.source_name %}
        
        <div class="col s6 m4 box">
            <ul>
                <li>{{quote.quote_text}}</li>
                <li>{{quote.quote_source_name}}</li>
                <li>
                    <span>
                        <a href="{{url_for('modify', quote_id = quote._id)}}" class="waves-effect waves-light btn-small">
                        <i class="material-icons right">cloud</i>Modify quote
                        </a>
                    </span>
                    <span>
                        <a href="{{url_for('delete_quote', quote_id = quote._id)}}" class="waves-effect waves-light btn-small">
                        <i class="material-icons right">cloud</i>Delete quote
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    {%  endif %}

    {% endfor %}

{% endblock %}