{% extends 'base.html' %}

{% block content %}
<div class="home-description">
    <p class="main-title">Quotes Library</p>
    <p class="secondary-title">by Andrea</p>
    <section>
        <p class="description">
            Are you tired of browsing the entire web in order to find the perfect quote for your social media posts? <br>
            Good job! You have found the solution to your problem!<br>
            In our Quotes Library you can find all the quotes you need and browse them by category, language and source.<br>
            But this is not the only feature we offer. You can also add new quotes or edit existing ones if you find some mistake.<br>
            Adding a new quote is very easy. You just need to click on the Add Quote button and fill all the fields with the details required. And that's it.<br>
            So what are you waiting for? Join us and help us buliding the best Quotes Library ever!!
        </p>
    </section>
    <div id="cat-section" class="cat">
        <p class="cat-title">Categories</p>
    </div>
    <div class="cat-loop">
        {% for category in category %}
        <a class="waves-effect waves-light btn-large" href="{{url_for('get_quote_by_category', category_id=category._id)}}">{{category.category_name}}</a>
        {% endfor %}
    </div>
    <div id="language-section" class="language">
        <p class="language-title">Languages</p>
        {% for language in languages %}
            <a class="waves-effect waves-light btn-large" href="{{url_for('get_quote_by_language', language_id=language._id)}}">{{language.language_name}}</a>
        {% endfor %}
        <div id="more-languages">
            <a class="waves-effect waves-light btn-large" href="{{url_for('get_less_languages')}}">See less...</a>
        </div>
    </div>
    <div id="source-section" class="source">
        <p class="source-title">Type of source</p>
        {% for source in sources %}
            <a class="waves-effect waves-light btn-large" href="{{url_for('get_quote_by_source', source_id=source._id)}}">{{source.source_name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

