{% extends 'base.html' %}

{% block content %}
<div class="container-form">
    <h2 class="add-new-quote">Edit quote</h2>
    <form action = '{{url_for("modify", quote_id=quote._id)}}' method="POST" class="">
        <div class="row">
            <div class="input-field col s12">
                <select id="quote_category" name="quote_category">
                <option value="{{quote.quote_category}}"  selected>{{quote.quote_category}}</option>
                {% for category in category %}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
                </select>
                <label>Choose the category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_text" name="quote_text" type="text" class="validate form-input" value="{{quote.quote_text}}" required>
                <label for="icon_prefix">Text</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_author" name="quote_author" type="text" class="validate form-input" value="{{quote.quote_author}}" required>
                <label for="icon_prefix">Author</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="quote_source" name="quote_source">
                <option value="{{quote.quote_source}}" selected>{{quote.quote_source}}</option>
                {% for source in sources %}
                <option value="{{source.source_name}}">{{source.source_name}}</option>
                {% endfor %}
                </select>
                <label>Source</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="quote_source_name" name="quote_source_name" type="text" class="validate form-input" value="{{quote.quote_source_name}}" required>
                <label for="icon_prefix">Source name</label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <select id="language_name" name="language_name">
                    <option class="choose-idiom" value="{{quote.quote_language}}" selected>{{quote.quote_language}}</option>
                    {% for idiom in languages %}
                    <option value="{{idiom.language_name}}">{{idiom.language_name}}</option>
                    {% endfor %}
                    </select>
                    <label class="form-label">Quote Language</label>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}